/MainPerpustakaan/build/
/MainPerpustakaan/nbproject/private/
/Kampus/nbproject/private/
/Packagekampus/nbproject/private/
/mycalculator/nbproject/private/
/AccessModifier/nbproject/private/
/AdaYangSalah/nbproject/private/
/Packagekampus/build/
/AccessModifier/build/
/MainPerpus/nbproject/private/
/MainPerpus/build/
/BangunDatar/nbproject/private/
/BangunDatar/build/
/SuperClass/nbproject/private/
/SuperClass/build/
/Kucing/nbproject/private/
/Kucing/build/
/AdaYangSalahh/nbproject/private/
/Kalkulator/nbproject/private/
/Kalkulator/build/
/JavaSwing/nbproject/private/
/JavaSwing/build/
/ProjectPerpustakaan/nbproject/private/
/ProjectPerpustakaan/build/
